body {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

#logo {
  width: 100%;
}

.vertical li {
  margin: 20px;
}

.horizontal {
  grid-column: 1 / -1;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

main {
  grid-column: 1 / -1;
  display: flex;
  padding: 40px;
  gap: 40px;
}

footer {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
}
