/*
    Author: Samuel Marchuk
    Date: 8/21/2024
    File: pricing.css
 */

table {
  border-collapse: collapse;
  border: black solid 1px;
}

thead {
  background-color: #19002f;
  color: white;
  font-weight: bold;
}

tbody tr {
  background-color: #c1c1d6;
}

tbody > :nth-child(odd) {
  background-color: #ebebf7;
}

td {
  border: black solid 1px;
  padding: 5px;
}

aside {
  background-color: #e3e399;
  border: solid 2px #19002f;
  padding: 10px;
  border-radius: 10px;
  width: 350px;
}

aside ul {
  padding: 20px;
}
