/*
    Author: Samuel Marchuk
    Date: 8/21/2024
    File: layout.css
 */

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

aside {
  display: grid;
  grid-template-columns: 1fr 9fr;
  gap: 10px;
  align-items: center;
}

aside p {
  font-size: 20px;
  color: indigo;
}

aside img {
  grid-row: 1 / span 2;
}
